soap/prove/Telecamere.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" 
     xmlns:tns="http://www.html.it/php_ws_soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"  
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" 
     targetNamespace="http://www.html.it/php_ws_soap">
	<types>
		<xs:schema targetNamespace="http://www.html.it/php_ws_soap">
			<xs:element name="name" type="xs:string"/>
			<xs:element name="weburlRes" >
				<xs:complexType>
				  <xs:sequence>
				    <xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="row" type="tns:telecamera"/>
				  </xs:sequence>
				</xs:complexType>
			</xs:element>	
			<xs:complexType name="telecamera">
				<xs:sequence>
				    <xs:element form="unqualified" maxOccurs="1" minOccurs="0" name="IDCam" type="xs:string"/>
				    <xs:element form="unqualified" maxOccurs="1" minOccurs="0" name="Nome" type="xs:string"/>
			  	</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="getWebUrl">
		<part name="name" type="xs:string"/>
	</message>
	<message name="returnWebUrl">
		<part name="weburl" element="tns:weburlRes"/>
	</message>
	<portType name="WebServiceTest">
		<operation name="getWebUrl">
			<input message="tns:getWebUrl"/>
			<output message="tns:returnWebUrl"/>
		</operation>
	</portType>
	<binding name="WebServiceSOAPBinding" type="tns:WebServiceTest">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getWebUrl">
                        <!-- Localizzazione del service deployato sul server. -->
			<soap:operation 
                             soapAction="http://localhost/cmvLuigi/soap/server.php/getWebUrl"/>
			<input>
				<soap:body use="encoded" 
                                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                                     namespace="http://www.html.it/php_ws_soap"/>
			</input>
			<output>
				<soap:body use="encoded" 
                                     encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
                                     namespace="http://www.html.it/php_ws_soap"/>
			</output>
		</operation>
	</binding>
	<service name="GetWebUrl">
		<port name="WebUrl" binding="tns:WebServiceSOAPBinding">
			<soap:address location="http://localhost/cmvLuigi/soap/server.php"/>
		</port>
	</service>
</definitions>