soap/Telecamere.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:tns="http://test-uri/soap/export/"
    xmlns:s="http://www.w3.org/2001/XMLSchema"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    targetNamespace="http://test-uri/soap/export/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

<wsdl:types>
<s:schema targetNamespace="http://test-uri/soap/export/" elementFormDefault="qualified">

    <s:element name="getInfo">
        <s:complexType>
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="message" type="s:string"/>
            </s:sequence>
        </s:complexType>
    </s:element>

    <s:element name="telecamereResponse">
        <s:complexType>
            <s:sequence>
                <s:element name="telecamera" type="tns:telecameraT" minOccurs="1" maxOccurs="unbounded"/>
            </s:sequence>
        </s:complexType>
    </s:element>

    <s:complexType name="telecameraT">
        <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_cam" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="nome" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="codice_strada" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="latitudine" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="longitudine" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="km" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="owner" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="descrizione" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="direzione" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="disponibilita" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="regione" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="data_sovrimpressione" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="immagine" type="s:string"/>
        </s:sequence>
    </s:complexType>
</s:schema>
</wsdl:types>

<wsdl:message name="getInfoSoapIn">
<wsdl:part name="parameters" element="tns:getInfo"/>
</wsdl:message>
<wsdl:message name="getInfoSoapOut">
<wsdl:part name="parameters" element="tns:telecamereResponse"/>
</wsdl:message>

<wsdl:portType name="TelecamereSoap">
<wsdl:operation name="getInfo">
    <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
        Function ("getUsers")
    </wsdl:documentation>
    <wsdl:input message="tns:getInfoSoapIn"/>
    <wsdl:output message="tns:getInfoSoapOut"/>
</wsdl:operation>
</wsdl:portType>

<wsdl:portType name="TelecamereSoap12">
<wsdl:operation name="getInfo">
    <wsdl:documentation xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'>
        Function ("getInfo")
    </wsdl:documentation>
    <wsdl:input message="tns:getInfoSoapIn"/>
    <wsdl:output message="tns:getInfoSoapOut"/>
</wsdl:operation>
</wsdl:portType>

<wsdl:binding name="TelecamereSoap" type="tns:TelecamereSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="getInfo">
    <soap:operation soapAction="http://localhost/cmvLuigi/soap/export/getInfo" style="document"/>
    <wsdl:input>
        <soap:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
</wsdl:binding>

<wsdl:binding name="TelecamereSoap12" type="tns:TelecamereSoap12">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="getInfo">
    <soap12:operation soapAction="http://localhost/cmvLuigi/soap/export/getInfo" style="document"/>
    <wsdl:input>
        <soap12:body use="literal"/>
    </wsdl:input>
    <wsdl:output>
        <soap12:body use="literal"/>
    </wsdl:output>
</wsdl:operation>
</wsdl:binding>

<wsdl:service name="TelecamereService">
<wsdl:port name="TelecamerePort" binding="tns:TelecamereSoap">
    <soap:address location="http://localhost/cmvLuigi/soap/telecamere.php"/>
</wsdl:port>
<wsdl:port name="TelecamereSoap12" binding="tns:TelecamereSoap12">
    <soap12:address location="http://localhost/cmvLuigi/soap/telecamere.php"/>
</wsdl:port>
</wsdl:service>

</wsdl:definitions>